#newTodo {
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editTodo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text-field {
  width: 100%;
}

#newTodo .button {
  margin-top: 15px;
}

#editTodo .button {
  margin-top: 15px;
}

.todo-list {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.todo {
  margin: 10px 0px;
  padding: 15px;
  /* text-align: justify; */
  width: 100%;
}

.todo .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo .body {
  margin: 15px 0px;
}

.todo .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1024px), (orientation: landscape) {
  #newTodo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  #newTodo .text-field {
    max-width: 20%;
  }

  .todo {
    width: 45%;
  }

  .button {
    margin-top: 15px;
  }
  
}
